.sidenav-container {
  height: 100%;
  position: fixed;
  background-color: whitesmoke;
  width: 200px;
  padding: 16px;
  font-size: 1.3rem;

  &__opener {
    padding: 16px;
  }

  &__link {
    font-size: 18px;
    color: royalblue;
    text-align: center;
    margin: 3px;
    padding: 0;

    &:hover {
      color: red;
      box-shadow: 1px 1px 1px cyan;
    }
  }

  &__title {
    color: royalblue;
    font-size: 36px;
    font-weight: bold;
    user-select: none;
    background: powderblue;
    border-radius: 6px;
    text-align: center;
  }

  &__options {
    list-style-type: none;
  }

  &__button {
    background-color: powderblue;
    color: whitesmoke;
    margin: 1px;

    &:hover {
      color: red;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
  }
}

