<mat-sidenav-container>
  <mat-sidenav class="sidenav-container" #sidenav (mouseleave)="sidenav.toggle()" mode="side">
    <div class="sidenav-container__title"><h1>Site Map</h1></div>
    <ul class="sidenav-container__list">
      <li class="sidenav-container__options">
        <a class="sidenav-container__link" mat-flat-button routerLink="/">
          Main Page
        </a></li>
      <li class="sidenav-container__options"><a class="sidenav-container__link" mat-flat-button routerLink="/auth">Authorization
      </a></li>
      <li class="sidenav-container__options"><a class="sidenav-container__link" mat-flat-button routerLink="/wanted">
        Wanted Content
      </a></li>
      <li class="sidenav-container__options"><a class="sidenav-container__link" mat-flat-button routerLink="/settings">
        Settings
      </a></li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-container__opener">
    <button class="sidenav-container__button" mat-button (click)="sidenav.toggle()">Navigation</button>
    <button class="sidenav-container__button" mat-button (click)="getBack()">Back</button>
  </mat-sidenav-content>
</mat-sidenav-container>
