<div class="auth-card">
  <form *ngIf="!isUserLogged()" [formGroup]="form" (ngSubmit)="submit()">
    <div class="auth-dialog">
      <div class="auth-dialog__title">{{"Log in to the FBI system" | uppercase}}</div>
      <mat-card class="auth-dialog__form">
        <mat-form-field class="auth-dialog__form_field">
          <mat-label>Login</mat-label>
          <input matInput placeholder="Enter your ID" autocomplete="off" list="users" formControlName="login">
        </mat-form-field>
        <mat-form-field class="auth-dialog__form_field">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Enter your password" formControlName="password">
        </mat-form-field>

        <button class="auth-submit-button" type="submit" mat-flat-button color="primary"
                [disabled]="form.invalid || form.disabled">Log in FBI
        </button>
      </mat-card>
    </div>
  </form>
  <datalist id="users">
    <option *ngFor="let v of loginOptions" value="{{v}}"></option>
  </datalist>
  <mat-card class="auth-current-user" *ngIf="isUserLogged()">
    Logged as {{ login | uppercase }}
    <button class="auth-logout-button" type="button" (click)="userLogout()" mat-flat-button color="primary">
      Logout
    </button>
  </mat-card>
</div>
