.auth-card {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 55ch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-dialog {
  &__form {
    font-size: 30px;
    padding: 30px;
    margin: 15px;

    &_field {
      width: 100%;
    }
  }

  &__title {
    text-align: center;
    color: royalblue;
    font-weight: bold;
    font-size: 30px;
    margin: 10px;
  }
}

.auth-logout-button {
  margin-left: 15px;
}

.auth-current-user {
  font-size: 30px;
  padding: 30px;
  margin: 0;
}

.auth-submit-button {
  margin-left: 15px;
}
