@import "src/assets/styles/mixins";

.wanted-page__table {
  width: 80%;
  height: 700px;
  margin: 20px auto auto 10px;

  &_filters {
    display: flex;
    justify-content: space-between;
  }

  &_filter {
    width: 250px;
    margin-left: 30px;
    margin-top: 5px;
    margin-right: 30px;
  }
}

.mat-header-cell {
  @include stayInBlock;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.mat-cell {
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  align-items: center;
  height: 100px;
}

th.mat-sort-header-sorted {
  color: black;
}

.wanted-page {
  display: flex;
  justify-content: space-between;
}

.close-button {
  margin: 20px auto auto 10px;
}

.filter-submit-button {
  margin-right: 5px;
}

.highlight {
  background: whitesmoke;
}

.nav-buttons {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}
