<div class="wanted-page">
  <div class="wanted-page__table mat-elevation-z8">
    <div class="wanted-page__table_filters">
      <mat-form-field class="wanted-page__table_filter">
        <input [formControl]="filterControl" matInput
               class="wanted-page-table-filter-input"
               type="text" placeholder="Global search">
      </mat-form-field>
      <form [formGroup]="formFilter" (ngSubmit)="getFilteredData()">
        <mat-form-field class="wanted-page__table_filter">
          <input formControlName="office" matInput
                 autocomplete="off"
                 class="wanted-page-table-filter-input"
                 type="text" placeholder="Filter by office">
        </mat-form-field>
        <mat-form-field class="wanted-page__table_filter">
          <input formControlName="sex" matInput
                 autocomplete="off"
                 class="wanted-page-table-filter-input"
                 type="text" placeholder="Filter by sex">
        </mat-form-field>
        <mat-form-field class="wanted-page__table_filter">
          <input formControlName="title" matInput
                 autocomplete="off"
                 class="wanted-page-table-filter-input"
                 type="text" placeholder="Filter by title">
        </mat-form-field>
        <button class="filter-submit-button" type="submit" mat-flat-button color="primary">Apply Filter</button>
      </form>
    </div>
    <div class="nav-buttons">
      <button class="nav-buttons-previous" mat-stroked-button color="primary" (click)="getPreviousPageWanted()">Previous
        Page
      </button>
      <button class="nav-buttons-next" mat-stroked-button color="primary" (click)="getNextPageWanted()">Next Page
      </button>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="num">
        <th mat-header-cell *matHeaderCellDef> #</th>
        <td mat-cell *matCellDef="let i = index">
          {{i + 1}}
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
        <td mat-cell *matCellDef="let element">
          {{element.title | defaultValues}}
        </td>
      </ng-container>

      <ng-container matColumnDef="sex">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sex</th>
        <td mat-cell *matCellDef="let element">
          {{element.sex | defaultValues}}
        </td>
      </ng-container>

      <ng-container matColumnDef="hair">
        <th mat-header-cell *matHeaderCellDef> Hair</th>
        <td mat-cell *matCellDef="let element">
          {{element.hair | defaultValues}}
        </td>
      </ng-container>

      <ng-container matColumnDef="eyes">
        <th mat-header-cell *matHeaderCellDef> Eyes</th>
        <td mat-cell *matCellDef="let element">
          {{element.eyes | defaultValues}}
        </td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight</th>
        <td mat-cell *matCellDef="let element">
          {{element.weight | defaultValues}}
        </td>
      </ng-container>

      <ng-container matColumnDef="dates_of_birth_used">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Birth Date</th>
        <td mat-cell *matCellDef="let element">
          {{element.dates_of_birth_used | defaultValues}}
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Crime</th>
        <td mat-cell *matCellDef="let element">
          {{element.description | defaultValues}}
        </td>
      </ng-container>

      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef> Link</th>
        <td mat-cell *matCellDef="let element">
          <a target="_blank" class="medium material-icons" matTooltip="Post link" [href]="element.url">insert_link</a>
          <a *ngIf="element.isModified" routerLink="/wanted/edit/{{element.uid}}" matTooltip="Edit Details"
             class="medium material-icons">details</a>
          <button mat-button color="accent" matTooltip="Edit Details" (click)="openDialog()"
                  class="mat-button">Edit Details
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="warning_message">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Warning</th>
        <td mat-cell *matCellDef="let element">
          {{element.warning_message | defaultValues}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let index"
          [ngClass]="{'highlight': row.uid === selectedWantedPerson?.uid}"
          (click)="onRowClicked(row)"
      >
      </tr>
    </table>
  </div>
  <div class="wanted-details-table">
    <fw-wanted-details *ngIf="selectedWantedPerson" [selectedUser]="selectedWantedPerson">
      <mat-card-actions footer class="close-button" *ngIf="selectedWantedPerson">
        <button mat-button color="warn" (click)="closeDetails()">Close</button>
      </mat-card-actions>
    </fw-wanted-details>
  </div>
</div>
