<div class="posts-container container mt-5">
  <div class="row">
    <div *ngFor="let post of posts, index as postID" class="col-lg-3 mt-3 mb-3">
      <div class="box">
        <img class="post-img" [src]="post.img" [alt]="post.title + 'image'">
        <h2 class="post-title mt-2 mb-2">{{post.title}}</h2>
        <p>
          {{post.description}}
          {{post.text}}
        </p>
        <a routerLink="/posts:postID">Read more</a>
      </div>
    </div>
  </div>
</div>
