<mat-card class="wanted-details-card">
  <mat-card-header>
    <div mat-card-avatar class="wanted-details-card__header-image">
      <img class="wanted-details-card__avatar" [src]="selectedUser.images[0].thumb"
           alt="{{selectedUser.title}} thumb image">
    </div>
    <mat-card-title class="wanted-details-card__title">{{selectedUser.title}}</mat-card-title>
    <mat-card-subtitle>Reward: {{selectedUser.reward_max | defaultValues}} $</mat-card-subtitle>
  </mat-card-header>
  <img *ngIf="selectedUser.images[1]" class="wanted-details-card__img" mat-card-image
       [src]="selectedUser.images[1].original"
       alt="{{selectedUser.title}} original image">
  <mat-card-content>
    <div class="wanted-details-card__content">
      <p>
        <b>Возраст: </b>
        <span>{{selectedUser.age_min | defaultValues}} - {{selectedUser.age_max}}</span>
        <mat-divider></mat-divider>
      </p>
      <p>
        <b>Пол: </b>
        <span>{{selectedUser.sex | uppercase | defaultValues}}</span>
        <mat-divider></mat-divider>
      </p>
      <p>
        <b>Волосы: </b>
        {{selectedUser.hair | uppercase | defaultValues}}
        <mat-divider></mat-divider>
      </p>
      <p>
        <b>Глаза: </b>
        {{selectedUser.eyes | uppercase | defaultValues}}
        <mat-divider></mat-divider>
      </p>
      <p>
        <b>Рост: </b>
        {{selectedUser.height_min |defaultValues}} - {{selectedUser.height_max}}
        <mat-divider></mat-divider>
      </p>
      <p>
        <b>Вес: </b>
        {{selectedUser.weight | uppercase | defaultValues}}
        <mat-divider></mat-divider>
      </p>
      <p>
        <b>Дата рождения: </b>
        {{selectedUser.dates_of_birth_used | defaultValues}}
        <mat-divider></mat-divider>
      </p>
      <p>
        <b>Преступление: </b>
        {{selectedUser.crime | uppercase | defaultValues}}
        <mat-divider></mat-divider>
      </p>
      <p>
        <b>Описание преступления: </b>
        {{selectedUser.description | uppercase | defaultValues}}
        <mat-divider></mat-divider>
      </p>
      <p>
        <b>Степень опасности преступника: </b>
        {{selectedUser.warning | uppercase | defaultValues}}
        <mat-divider></mat-divider>
      </p>
      <p>
        <b>Дата публикации: </b>
        {{selectedUser.publication | date:"medium"}}
        <mat-divider></mat-divider>
      </p>
      <p>
        <b>Дата обновления публикации: </b>
        {{selectedUser.modified | date:"medium"}}
        <mat-divider></mat-divider>
      </p>
      <p>
        <b>Ссылка на публикацию: </b>
        {{selectedUser.url}}
        <mat-divider></mat-divider>
      </p>
    </div>
  </mat-card-content>

  <ng-content select="[footer]"></ng-content>
</mat-card>

