.wanted-details-card {
  margin: 20px 10px auto 10px;
  width: 500px;

  &__img {
    width: 30%;
    float: right;
  }

  &__header-image {
    position: relative;
    width: 200px;
    height: 150px;
    overflow: hidden;
  }

  &__avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
