<table mat-table [dataSource]="updatedWanted" matSort>

  <ng-container matColumnDef="num">
    <th mat-header-cell *matHeaderCellDef> #</th>
    <td mat-cell *matCellDef="let i = index">
      {{i + 1}}
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let element">
      {{element.title | defaultValues}}
    </td>
  </ng-container>

  <ng-container matColumnDef="sex">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sex</th>
    <td mat-cell *matCellDef="let element">
      {{element.sex | defaultValues}}
    </td>
  </ng-container>

  <ng-container matColumnDef="hair">
    <th mat-header-cell *matHeaderCellDef> Hair</th>
    <td mat-cell *matCellDef="let element">
      {{element.hair | defaultValues}}
    </td>
  </ng-container>

  <ng-container matColumnDef="eyes">
    <th mat-header-cell *matHeaderCellDef> Eyes</th>
    <td mat-cell *matCellDef="let element">
      {{element.eyes | defaultValues}}
    </td>
  </ng-container>

  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight</th>
    <td mat-cell *matCellDef="let element">
      {{element.weight | defaultValues}}
    </td>
  </ng-container>

  <ng-container matColumnDef="dates_of_birth_used">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Birth Date</th>
    <td mat-cell *matCellDef="let element">
      {{element.dates_of_birth_used | defaultValues}}
    </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Crime</th>
    <td mat-cell *matCellDef="let element">
      {{element.description | defaultValues}}
    </td>
  </ng-container>

  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef> Link</th>
    <td mat-cell *matCellDef="let element">
      <a target="_blank" class="medium material-icons" matTooltip="Post link" [href]="element.url">insert_link</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="warning_message">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Warning</th>
    <td mat-cell *matCellDef="let element">
      {{element.warning_message | defaultValues}}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns; let index"
      [ngClass]="{'highlight': row.uid === selectedWantedPerson?.uid}"
      (click)="onRowClicked(row)"
  >
  </tr>
</table>
