@import "src/assets/styles/mixins";

.highlight {
  background: lightgreen;
}

.mat-header-cell {
  @include stayInBlock;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.mat-cell {
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  align-items: center;
  height: 100px;
}
