<div class="top-bar">
  <div class="top-bar__nav">
    <a class="top-bar__nav_link" mat-button routerLink="/" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}">
      FBI
    </a>
    <img class="top-bar__nav-logo" [src]="img" alt="FBI logo">
    <div class="user-bar">
      <a class="top-bar__nav_link" mat-button routerLink="/auth" routerLinkActive="active" *ngIf="!isUserLogged()"
         [routerLinkActiveOptions]="{exact:true}">
        Login
      </a>
      <mat-card class="user-bar__current-user" *ngIf="isUserLogged()">
        <strong>{{(currentUser() | async).login | uppercase}}</strong></mat-card>
      <a class="top-bar__nav_link" mat-button type="button" *ngIf="isUserLogged()" (click)="logoutUser()">Logout</a>
    </div>
  </div>
</div>
