@import "src/assets/styles/mixins";

.top-bar {
  overflow: hidden;
  background-color: royalblue;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 1rem;
  }

  &__nav_link {
    font-size: 1.666rem;
    color: whitesmoke;
    text-align: center;

    &:active:hover {
      @include mainColorTheme;
    }

    &:hover {
      @include mainColorTheme;
    }

    &.mat-focus-indicator:nth-child(1) {
      font-size: 3rem;
    }
  }

  &__nav-logo {
    max-height: 100px;
  }
}

.active {
  @include mainColorTheme;
  box-shadow: 1px 1px 50px cyan;
}

.user-bar {
  align-items: center;

  &__current-user {
    margin-top: 3px;
    color: royalblue;
    text-align: center;
  }
}
