<div class="wanted-details-edit-form">
  <label for="wanted-details-edit-form__sex-group">Edit Wanted Details</label>
  <mat-radio-group
    id="wanted-details-edit-form__sex-group"
    class="sex-radio-group">
    <mat-radio-button
      class="sex-radio-button"
      *ngFor="let optionalLabelTextChoice of optionalLabelTextChoices"
      [value]="optionalLabelTextChoice">
      {{optionalLabelTextChoice}}
    </mat-radio-button>
  </mat-radio-group>
  <mat-stepper class="stepper" #stepper>
    <mat-step [stepControl]="editedWantedDetailsFormGroup">
      <form [formGroup]="editedWantedDetailsFormGroup">
        <ng-template matStepLabel>Fill out Wanted details</ng-template>
        <mat-form-field class="wanted-edit__form-field" appearance="fill">
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Last name, First name"
            formControlName="title"
            required
          />
        </mat-form-field>
        <mat-form-field class="wanted-edit__form-field" appearance="fill">
          <mat-label>Hair</mat-label>
          <input
            matInput
            placeholder="Hair color"
            formControlName="hair"
          />
        </mat-form-field>
        <mat-form-field class="wanted-edit__form-field" appearance="fill">
          <mat-label>Eyes</mat-label>
          <input
            matInput
            placeholder="Eyes color"
            formControlName="eyes"
          />
        </mat-form-field>
        <mat-form-field class="wanted-edit__form-field" appearance="fill">
          <mat-label>Weight</mat-label>
          <input
            matInput
            placeholder="Weight"
            formControlName="weight"
          />
        </mat-form-field>
        <mat-form-field class="wanted-edit__form-field" appearance="fill">
          <mat-label>Birth Date</mat-label>
          <input
            matInput
            placeholder="Birth Date"
            formControlName="birthDate"
          />
        </mat-form-field>
        <mat-form-field class="wanted-edit__form-field" appearance="fill">
          <mat-label>Description</mat-label>
          <input
            matInput
            placeholder="Description"
            formControlName="description"
          />
        </mat-form-field>
        <mat-form-field class="wanted-edit__form-field" appearance="fill">
          <mat-label>Warning Message</mat-label>
          <input
            matInput
            placeholder="Warning Message"
            formControlName="warning"
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
          <button mat-button color="warn" (click)="undoUpdateWanted()">Cancel</button>
        </div>
      </form>
    </mat-step>
    <mat-step
      [stepControl]="secondFormGroup"
      label="Fill out your address"
      optional>
      <form [formGroup]="secondFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input
            matInput
            formControlName="secondCtrl"
            placeholder="Ex. 1 Main St, New York, NY"
          />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button color="primary" (click)="updateWanted()">Save and Update</button>
          <button mat-button color="warn" (click)="undoUpdateWanted()">Cancel</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
